@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
  box-sizing: border-box;
  height: max-content;
}

body {
  margin: 0;
  padding: 0;
}

.back {
  background-image: url("images/background1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: max-content;
}

.header {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
}

.header-desktop {
  display: none;
}

.main-header {
  width: 80%;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-button {
  display: none;
}

.ham-btn,
.ham-image {
  margin-left: 10px;
  width: 34px;
  height: 34px;
  border: 0;

  /* background-color: #fff; */
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0;
}

.nav-bar {
  display: none;
}

.home-page {
  height: 85%;
  align-items: center;
  gap: 20px;
}

.home-page,
.header-about {
  /* background-color: #d3d3d3; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-about {
  background-image: url("images/background1.png");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.welcome,
.title {
  color: #ec5242;
  font-family: Lato, sans-serif;
  font-size: 20px;
  align-self: center;
  font-weight: 400;
  align-content: center;
}

.welcome {
  margin: 35px 0 0;
}

.center {
  text-align: center;
}

.title {
  font-size: 33px;
  font-weight: 900;
  margin: 8px 0 0;
}

.main-description {
  line-height: 22px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  width: 90%;
  align-self: center;
  border: 3px solid #fff;
  background-color: #f7f7f7;
  padding: 10px;
  margin: 20px 0 0;
}

.date,
.place {
  font-family: Lato, sans-serif;
  align-self: center;
  color: #5d5d5d;
  margin: 10px 0 0;
}

.place {
  margin-bottom: 40px;
}

.date {
  font-weight: 900;
}

/* main */

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: #282b32;
}

.title-program {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0 0;
  list-style: none;
}

.schedule {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: max-content;
  padding: 0;
  align-items: flex-start;
  gap: 10px;
}

.schedule-items {
  display: flex;
  flex-direction: row;
  gap: 18px;
  background-color: #3d4047;
  width: 100%;
  align-items: center;
}

.descriptive-image {
  width: 60px;
  height: 60px;
}

.title-item {
  font-family: Lato, sans-serif;
  color: #ec5242;
  font-size: 12px;
  font-weight: 700;
  align-self: center;
}

.description-item {
  width: 50%;
  font-family: Lato, sans-serif;
  color: #d3d3d3;
  font-size: 10px;
}

.join-button {
  border: none;
  background-color: #ec5242;
  color: #fff;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  margin: 30px 0;
}

/* main */

.about-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-about {
  align-self: center;
  border: none;
  text-align: center;
}

.contact-about > a {
  color: #000;
  font-weight: bold;
}

.size {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

/* main about */

.main-about,
.past-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: Lato, sans-serif;
}

.title-logo {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0 5px;
}

.back-desp {
  background-color: #fff;
  border: 2px solid #d3d3d3;
  font-size: 14px;
  line-height: 22px;
}

.divider-title {
  background-color: #ec5242;
  width: 30px;
  height: 2px;
  border: 0;
}

.description-logo {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 5px 0 24px;
}

.logo-image {
  width: 80%;
  border: 1px solid #d3d3d3;
  margin-bottom: 30px;
}

.concert-image {
  width: 85%;
}

.first {
  margin-bottom: 10px;
}

.second {
  margin-bottom: 30px;
}

.hr-section {
  width: 100%;
  border: 0;
  background-color: #d3d3d3;
  height: 1px;
}

.past-fests {
  width: 90%;
  text-align: center;
}

/* partners */
.partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #272a31;
}

.partner-title {
  font-family: Lato, sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  align-self: center;
  margin: 20px 0 0;
}

.partner {
  align-self: center;
  width: 95%;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 30px;
}

.sponsor-img {
  filter: grayscale(1);
  width: 100px;
  height: 70px;
}

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.logo-footer {
  margin-left: 20%;
  width: 60px;
  height: 60px;
}

.text-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-footer,
.description-footer {
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-right: 30px;
}

.hidden {
  display: none;
}

.description-footer {
  display: none;
}

.welcome,
.title,
.main-description,
.date,
.place {
  width: 90%;
}

.whole-program {
  display: none;
}

.bar-styles {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 44px;
  width: 100%;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  background-image: url("images/background1.png");
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  list-style: none;
  gap: 30px;
  margin: 60px 0;
  padding: 0;
}

.nav-link {
  border-bottom-style: solid;
  border-bottom-color: #ec5242;
  border-width: 2px;
  width: 100%;
}

.link {
  font-family: Lato, sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: none;
  color: #ec5242;
}

.display-bar {
  display: flex;
}

.no-bar {
  display: none;
}

/* artist section */
.artists {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-title {
  font-family: Lato, sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  align-items: center;
}

.artist-list {
  list-style: none;
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 50px;
}

.element {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.image-div {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.artist-div {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.back-image {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}

.artist-img {
  width: 100px;
  height: 100px;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.artist-name {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.m-description {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #ec5242;
}

.divider-artists {
  margin: 5px 0;
  align-self: flex-start;
}

.sec-des {
  margin: 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.margin-header {
  margin-right: 16%;
}

.state {
  display: none;
}

.state-show {
  display: flex;
}

/* artist section */

@media screen and (min-width: 768px) {
  .header {
    flex-direction: column;
  }

  .bar-styles {
    position: relative;
    background-image: none;
    top: 0;
  }

  .header-desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #272a31;
    justify-content: flex-end;
  }

  .social-media {
    width: 18px;
    height: 18px;
  }

  .social-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    gap: 25px;
    align-self: flex-end;
    margin: 8px 16% 8px 0;
  }

  .social-element > a {
    color: #fff;
    text-decoration-line: none;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  .main-header {
    width: 100%;
    height: max-content;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .home-button {
    display: block;
    margin-left: 16%;
  }

  .ham-btn {
    width: 0;
    margin: 0;
    padding: 0;
    display: none;
  }

  .header-logo {
    width: 70px;
    height: 70px;
  }

  .nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 16%;
  }

  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: max-content;
    margin: 0;
  }

  .nav-link {
    border: none;
    width: 100%;
  }

  .link {
    text-decoration-line: none;
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
  }

  .ticket-button {
    padding: 10px 15px;
    border: 4px solid #ec5242;
    display: flex;
  }

  .ticket-button > a {
    color: #ec5242;
    width: max-content;
  }

  .back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .home-page {
    width: 60%;
    margin-left: 15%;
    justify-content: center;
    align-self: flex-start;
    height: max-content;
  }

  .welcome {
    margin-top: 80px;
    font-size: 40px;
    line-height: 45px;
    align-self: flex-start;
  }

  .title {
    font-size: 70px;
    line-height: 80px;
    align-self: flex-start;
  }

  .main-description {
    width: 65%;
    align-self: flex-start;
    padding: 15px;
    margin: 0;
  }

  .date {
    font-size: 40px;
    line-height: 45px;
    align-self: flex-start;
  }

  .place {
    align-self: flex-start;
    font-size: 25px;
    line-height: 30px;
    font-weight: 300;
    margin: 0 0 30px;
  }

  .title-program {
    font-weight: 300;
    margin: 40px 0 0;
  }

  .divider-title {
    width: 45px;
    margin-bottom: 40px;
  }

  .schedule {
    flex-flow: wrap;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    gap: 5px;
  }

  .schedule-items {
    padding: 15px 0;
    flex-direction: column;
    width: 200px;
    height: 235px;
  }

  .title-item {
    margin: 0;
    font-size: 20px;
  }

  .description-item {
    font-size: 15px;
    margin: 0;
  }

  .join-button {
    display: none;
  }

  .whole-program {
    display: block;
    color: #d3d3d3;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 40px 0 60px;
  }

  .center {
    align-self: center;
  }

  .header-about {
    gap: 50px;
  }

  .header-about > h3 {
    display: none;
  }

  .header-about > h2 {
    margin-top: 100px;
    align-self: center;
    text-align: center;
  }

  .header-about > p {
    align-self: center;
  }

  .back-desp {
    width: 55%;
  }

  .desktop-ver {
    display: none;
  }

  .contact-about {
    margin-bottom: 80px;
  }

  .title-logo {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
  }

  .logo-image {
    width: 400px;
    height: 400px;
    padding: 0 10px;
    margin-bottom: 50px;
  }

  .past-events > hr {
    margin-bottom: 10px;
  }

  .description-logo {
    margin-bottom: 40px;
    width: 50%;
  }

  .row-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .concert-image {
    margin: 0 0 100px;
    width: 45%;
    height: 300px;
  }

  .partner-title {
    margin-top: 50px;
    color: #d3d3d3;
  }

  .partner {
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 70px;
  }

  .sponsor-img {
    filter: grayscale(1);
    width: 200px;
    height: 100px;
  }

  .footer {
    height: 150px;
    justify-content: flex-start;
  }

  .logo-footer {
    width: 80px;
    height: 80px;
  }

  .title-footer {
    margin: 0;
  }

  .description-footer {
    margin: 0;
    display: block;
  }

  .display-bar {
    display: flex;
  }

  .no-bar {
    display: flex;
  }

  .ham-image {
    display: none;
  }

  /* artists */
  .artist-list {
    width: 80%;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 0 0 50px;
  }

  .element {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
  }

  .back-image {
    filter: invert(0.8);
  }

  .divider-artists {
    margin: 5px 0;
    align-self: flex-start;
    width: 15px;
    height: 1px;
  }
}
